@import "tailwindcss";

@layer components {
  .square1 {
    left: calc(0 * 30px);
    top: calc(0 * 30px);
  }
  .square2 {
    left: calc(0 * 30px);
    top: calc(1 * 30px);
  }
  .square3 {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
  .square4 {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  .square5 {
    left: calc(3 * 30px);
    top: calc(1 * 30px);
  }
}

@keyframes square1 {
  0% {
    left: calc(0 * 30px);
    top: calc(0 * 30px);
  }
  8.333% {
    left: calc(0 * 30px);
    top: calc(1 * 30px);
  }
  100% {
    left: calc(0 * 30px);
    top: calc(1 * 30px);
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * 30px);
    top: calc(1 * 30px);
  }
  8.333% {
    left: calc(0 * 30px);
    top: calc(2 * 30px);
  }
  16.67% {
    left: calc(1 * 30px);
    top: calc(2 * 30px);
  }
  25.00% {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
  83.33% {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
  91.67% {
    left: calc(1 * 30px);
    top: calc(0 * 30px);
  }
  100% {
    left: calc(0 * 30px);
    top: calc(0 * 30px);
  }
}

@keyframes square3 {
  0%,
  100% {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
  16.67% {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
  25.00% {
    left: calc(1 * 30px);
    top: calc(0 * 30px);
  }
  33.33% {
    left: calc(2 * 30px);
    top: calc(0 * 30px);
  }
  41.67% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  66.67% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  75.00% {
    left: calc(2 * 30px);
    top: calc(2 * 30px);
  }
  83.33% {
    left: calc(1 * 30px);
    top: calc(2 * 30px);
  }
  91.67% {
    left: calc(1 * 30px);
    top: calc(1 * 30px);
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  33.33% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  41.67% {
    left: calc(2 * 30px);
    top: calc(2 * 30px);
  }
  50.00% {
    left: calc(3 * 30px);
    top: calc(2 * 30px);
  }
  58.33% {
    left: calc(3 * 30px);
    top: calc(1 * 30px);
  }
  100% {
    left: calc(3 * 30px);
    top: calc(1 * 30px);
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * 30px);
    top: calc(1 * 30px);
  }
  50.00% {
    left: calc(3 * 30px);
    top: calc(1 * 30px);
  }
  58.33% {
    left: calc(3 * 30px);
    top: calc(0 * 30px);
  }
  66.67% {
    left: calc(2 * 30px);
    top: calc(0 * 30px);
  }
  75.00% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
  100% {
    left: calc(2 * 30px);
    top: calc(1 * 30px);
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Background Colors */
/* bg-linear-to-br from-[#0f0f23] via-[#1a1a3e] to-[#0f0f23]; */

/* Card/Container Colors */
/* bg-[#1e1e3f]/90 backdrop-blur-xl border border-purple-500/10 */
